{{! index}}

<form method="post" id="miFormulario">
    <label>Nombre:
        <input name="nombreUsuario" autocomplete="name" />
    </label>
        <label>Apellido:
        <input name="apellidoUsuario" autocomplete="lastname" />
    </label>
    <label>Contraseña:
        <input type="password" name="contrasena"/>
    </label>
  <button type="submit">Guardar</button>
</form>