{{#extend "main.layout"}}
{{#content "body"}}
<h1>No tiene una cuenta? Registrese:</h1>
<form method="post" id="miFormulario">
    <label>Nombre:
        <input name="nombreUsuario" autocomplete="name" />
    </label>
        <label>Apellido:
        <input name="apellidoUsuario" autocomplete="lastname" />
    </label>
    </label>
        <label>Email:
        <input name="emailUsuario" autocomplete="lastname" />
    </label>
    <label>Contraseña:
        <input type="password" name="contrasena"/>
    </label>
  <button type="submit">Guardar</button>
</form>