{{! index}}
<h1>Inicie sesión:</h1>
<form method="post" id="miFormulario">
    <label>Email:
        <input name="emailUsuario" autocomplete="lastname" />
    </label>
    <label>Contraseña:
        <input type="password" name="contrasena"/>
    </label>
  <button type="submit">Enviar</button>
</form>
<div>
    <a href="/github">Entrar con Github</a>
</div>